.chara{
    left: 0;

}
.center{
    margin: 0 auto;
}
.sans{
    right: 0;
}
.names{
    display: flex;
}
.images{
    display: grid;
    grid-auto-flow: column;
    width: 600px;
    margin: 0 auto;
}

img{
    width: 0;
    min-width: 100%;
    height: 300px;

    transition: 2s;
    animation-name: blar;
    animation-duration: 1s;
}
img:hover{
    width: 256px;
    height: 260px;


    
}
@keyframes blar {
    from{
        filter: blur(200px);
    }
    to{
        filter: blur(0);
    }
}
body{
    background: linear-gradient(90deg, rgba(176,255,0,0.9808298319327731) 8%, rgba(0,0,0,0.9864320728291317) 100%);
}